<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registro</title>
    <script src="https://kit.fontawesome.com/42701418d7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    

</head>
<body>
    <header class="home_header">
        <div class="home__header--box">
            <div class="home_header_encabezado">
                <div class="home_header_encabezado--logo">
                    <a href="/"><img src="/images/logo-mercado-liebre.svg" alt="logo"></a>
                </div>
                <div class="home_header_encabezado--barra">           
                    <form class="home_header_encabezado--form" action="#" method="post" target="_blank">
                        <input class="home_header_encabezado--form--input" type="search" placeholder="Buscar productos, marcas" >
                        <div class="home_header_encabezado--btn">   
                            <i class="fa-solid fa-magnifying-glass"></i>  
                        </div>
                    </form>     
                </div>
                
            </div> 
            <p class="home_header_encabezado--compra--p"><i class="fa-sharp fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <nav class="home_header--menu">
            <ul class="home_header_menu--opciones">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="home_header_menu--login">
                <li><a href="/register">Creá tu cuenta</a><i class="fa-regular fa-address-card"></i><br></li> 
                <li><a href="/login">Ingresá</a><i class="fa-solid fa-right-to-bracket"></i><br></li> 
                <li><a href="#">Mis compras</a> <i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </nav>
        <div class="home_header_burger--menu">
          <a href="/"><i class="fas fa-bars"></i></a>  
        </div>
    </header>
    <main class="main">
        <div class="main__formLogin">
            <form action="" >
                <div class="main__formBox__form--Inputs" >
                    
                    <input id="user" type="text" name="user" placeholder="Nombre de usuario">
                </div>
                
                <div class="main__formBox__form--Inputs">

                    <input id="password" type="password" name="password" placeholder="Escribe tu contraseña">
                </div>
                <div class="main__formBox__form--buttons">
                    <button type="submit" href="/" ><a href="/">Enviar</a></button>
                </div>
            </form>
        </div>
    </main>
    <footer class="home_footer">
        
        <article class="home_footer_paga">
            <i class="fa-solid fa-credit-card"></i>
            <h4 class="home_footer_paga_titulo">Pagá con tarjeta o en efectivo</h4>
            <p class="home_footer_paga_p">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
        </article>
    
    
        <article class="home_footer_envio">
            <i class="fa-sharp fa-solid fa-gift"></i>
            <h4 class="home_footer_envio--titulo">Envío gratis desde $ 2.500</h4>
            <p class="home_footer_envio--p">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </article>
    
    
        <article class="home_footer_seguridad">
            <i class="fa-solid fa-user-shield"></i>
            <h4 class="home_footer_seguridad--titulo">Seguridad, de principio a fin</h4>
            <p class="home_footer_seguridad--p">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </article>
    
        <p class="home_footer_p">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
</footer>
    
</body>
</html>