
body.home .home_header {    
    background-color:var(--colorAmarillo);
    font-size: 12px;
}

body.home .home_header img{
    width: 130px;
    display: block;
    padding: 15px;
}
body.home .home_header_compra{
    margin-left: 35px;
}
body.home .home_header_barra--busqueda{
    margin-left: 15px;
    padding: 0;
}

body.home .home_header_boton--busqueda{
    display: block;
    margin-left: 15px;
    font-size: 12px;
    padding: 0;
}

body.home .home_header--menu a,body.home .home_header--menu ul{
    text-decoration: none;
    color: black;
    list-style: none;
    padding: 0;
} 

body.home .home_header_menu--login li{
    display: inline-block;
}

body.home .home_header_burger--menu{
    color: var(--colorGrisClaro);
    background-color: var(--colorCeleste);
    text-align: center;
    padding: 8px;
    margin:0px 150px 0px 130px;
    border-radius: 3px;
    font-size: 20px;

}
